
.btn {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: #45a049; /* Cambio de color al pasar el mouse */
  }
}